<%= tag :hr if comment_counter > 1 %>
<% div_for comment do %>
  <%= yield if block_given? %>
  <% if comment.position %>
    <span class="position"><%= comment.position %>.</span>
  <% end %>
  <span class="name">
    <%= link_to_unless comment.site_url.blank?, h(comment.name), h(comment.site_url), :rel => "nofollow" %>
  </span>
  <% unless comment.created_at.nil? %>
    <span class="created_at">
      <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
    </span>
  <% end %>
  <div class="comment_content">
    <%= format_comment(comment.content) %>
  </div>
  <% if admin? %>
  <div class="actions">
    <%= link_to "Edit", edit_comment_path(comment) %> |
    <%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <% end %>
<% end %>
