<%= tag :hr unless comment_counter == 1 %>
<div class="comment">
  <%= yield if block_given? %>
  <span class="name">
    <%= link_to_unless comment.site_url.blank?, h(comment.name), h(comment.site_url) %>
  </span>
  <span class="created_at">
    <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
  </span>
  <div class="comment_content">
    <%= simple_format(h(comment.content)) %>
  </div>
  <% if admin? %>
  <div class="actions">
    <%= link_to "Edit", edit_comment_path(comment) %> |
    <%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <% end %>
</div>
