<% form_for @comment do |f| %>
  <%= error_messages_for :comment %>
  <noscript><p>Javascript required to add comment.</p></noscript>
  <div>
    <%= f.hidden_field :episode_id %>
    <%= enkode hidden_field_tag(:not_spam, true) %>
  </div>
  <p id="fake_email">
    <%= label_tag :email, 'Fake Email' %> <span class="info">(SKIP THIS ONE)</span><br />
    <%= text_field_tag :email %>
  </p>
  <p>
    <%= f.label :name, 'Name', :class => 'required' %> <span class="info">(required)</span><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %> <span class="info">(not shown)</span><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :site_url, 'Website URL' %><br />
    <%= f.text_field :site_url %>
  </p>
  <p>
    <%= f.label :content, 'Comment', :class => 'required' %>
    <span class="info">
      (use <a href="http://pastie.org" target="_blank">pastie</a>
      or <a href="http://gist.github.com" target="_blank">gist</a> for code)
    </span><br />
    <%= f.text_area :content, :rows => '12', :cols => 35 %>
  </p>
  <p>
    <%= f.submit "Preview", :name => 'preview_button' %>
    <%= f.submit "Submit" %>
  </p>
<% end %>
