<% if current_user.nil? %>
  <p>First <%= link_to "sign in through GitHub", login_path(:return_to => request.url) %> to post a comment.</p>
<% elsif cannot? :create, :comments %>
  <p>You have been banned from creating comments. Please <%= link_to "contact me", feedback_path %> if you are a legitimate user.</p>
<% else %>
  <%= div_for @comment do %>
    <div class="avatar"><%= image_tag avatar_url(@comment), :size => "64x64", :alt => "Avatar" %></div>
    <div class="main">
      <%= render "comments/comment_headline", :comment => @comment %>
      <div class="comment_content">
        <%= form_for @comment, :remote => true do |f| %>
          <%= f.error_messages %>
          <div>
            <%= f.hidden_field :episode_id %>
            <%= f.hidden_field :parent_id %>
          </div>
          <% if @comment.user_id && @comment.user_id != current_user.id %>
            <p><strong>Please follow the <%= link_to "moderator guidelines", moderators_path %>.</strong></p>
          <% end %>
          <div class="formatting">
            Use Markdown for formatting. <%= link_to "See examples.", "javascript:void(0)", :class => "markdown_link" %>
            <div class="markdown_examples" style="display: none">
              <table>
                <tr>
                  <td><pre>[Link](http://example.com/)</pre></td>
                  <td><a href="http://example.com/">Link</a></td>
                </tr>
                <tr>
                  <td><pre>*Italic*</pre></td>
                  <td><em>Italic</em></td>
                </tr>
                <tr>
                  <td><pre>**Bold**</pre></td>
                  <td><strong>Bold</strong></td>
                </tr>
                <tr>
                  <td><pre>
* Listed
* Items
                  </pre></td>
                  <td><ul><li>Listed</li><li>Items</li></ul></td>
                </tr>
                <tr>
                  <td><pre>&gt; Block quote</pre></td>
                  <td><blockquote><p>Block quote</p></blockquote></td>
                </tr>
                <tr>
                  <td><pre>`Inline code`</pre></td>
                  <td><code>Inline code</code></td>
                </tr>
                <tr>
                  <td>
                    <pre>
``` ruby
puts "code block"
```
                    </pre>
                  </td>
                  <td><%= raw CodeFormatter.new("``` ruby\nputs \"code block\"\n```").to_html %></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="field">
            <%= f.text_area :content, :rows => '12', :cols => 65 %>
          </div>
          <% if @comment.legacy? %>
          <div class="field">
            <%= f.check_box :legacy %>
            <%= f.label :legacy, "Legacy comment (markdown disabled)", :class => "check_box" %>
          </div>
          <% end %>
          <div class="actions">
            <%= f.submit(@comment.new_record? ? "Post Comment" : "Update Comment") %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>
