<% title "#{@user.display_name}'s Profile" %>

<div class="content">
  <% if @user == current_user %>
    <p><%= link_to "Edit Profile", edit_user_path(@user) %> | <%= link_to "Log Out", logout_path %></p>
    <p><strong>This is your profile.</strong></p>
  <% end %>
  <% if @user.moderator? %>
    <p><strong>This user is a moderator.</strong></p>
  <% end %>
  <% if @user.banned? %>
    <p><strong>This user is banned from comments.</strong></p>
  <% end %>
  <p>GitHub User: <%= link_to @user.github_username, "https://github.com/#{@user.github_username}" %></p>
  <% unless @user.site_url.blank? %>
    <p>Site: <%= link_to @user.site_url, fix_url(@user.site_url) %></p>
  <% end %>
  <div class="actions">
    <p><%= link_to "Ban this User", ban_user_path(@user), :confirm => "Are you certain you want to ban this user? It will delete all of his comments and not allow him to comment again.", :remote => true, :method => :put if can?(:ban, @user) && !@user.banned? %></p>
  </div>
  <h3>Comments by <%= @user.name %></h3>
  <div id="comments">
  <% for comment in @user.comments.recent %>
    <%= render comment %>
  <% end %>
  </div>
</div>
