<div class="section">
  <strong>navigation:</strong>
  <ul id="navigation">
    <li><%= link_to_unless_current "Recent Episodes", root_path %></li>
    <li><%= link_to_unless_current "All Episodes", archive_episodes_path %></li>
    <li><%= link_to_unless_current "About Railscasts", about_path %></li>
    <li><%= link_to_unless_current "Recent Comments", comments_path %></li>
    <li><%= link_to_unless_current "Feeds", feeds_path %></li>
  </ul>
</div>

<% if admin? %>
<div class="section">
  <strong>admin:</strong>
  <ul id="navigation">
    <li><%= link_to_unless_current "New Episode", new_episode_path %></li>
    <li><%= link_to_unless_current "New Sponsor", new_sponsor_path %></li>
    <li><%= link_to "Logout", logout_path %></li>
  </ul>
</div>
<% end %>       
                  
