<div class="section">
  <ul id="feeds">
    <li><a href="http://feeds.feedburner.com/railscasts"><%= image_tag 'icons/feed.gif', :alt => 'RSS Feed', :size => '16x16' %> RSS Feed</a></li>
    <li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=218282043"><%= image_tag 'icons/itunes.gif', :alt => 'On iTunes', :size => '16x16' %> on iTunes</a></li>
  </ul>
</div>
<%= render :partial => 'shared/navigation' %>
<div class="section">
  <strong>sponsored by:</strong>
  <% for sponsor in Sponsor.active.sort_by { rand } %>
    <div class="sponsor">
      <%= link_to image_tag(sponsor.image_url, :alt => h(sponsor.name)), sponsor.site_url %>
    </div>
  <% end %>
</div>
<div class="section">
  <strong>tags:</strong>
  <ul id="tags">
  <% for tag in Tag.find(:all, :order => 'name') %>
    <li><%= link_to h(tag.name), tag_path(tag) %></li>
  <% end %>
  </ul>
</div>
<div class="section">
  <strong>if you want to help:</strong>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="badge">
    <div>
    <input type="hidden" name="cmd" value="_xclick" />
    <input type="hidden" name="business" value="ryan@railscasts.com" />
    <input type="hidden" name="item_name" value="Railscasts Donation" />
    <input type="hidden" name="no_shipping" value="1" />
    <input type="hidden" name="cn" value="Comments or Suggestions" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="hidden" name="tax" value="0" />
    <input type="hidden" name="lc" value="US" />
    <input type="hidden" name="bn" value="PP-DonationsBF" />
    <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but04.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" />
    </div>
  </form>
</div>
<div class="section">
  <strong>required:</strong><br />
  <div class="badge"><a href="http://www.apple.com/quicktime/download/"><img src="/images/quicktime.gif" width="88" height="31" alt="Get Quicktime Player" /></a></div>
</div>
