<div class="episode">
  <div class="screenshot"><%= link_to image_tag("/assets/episodes/stills/#{episode.asset_name}.png", :size => "200x125", :alt => episode.name), episode %></div>
  <div class="main">
    <div class="info">
      <span class="number">Episode #<%= episode.position %></span> &ndash;
      <span class="published_at"><%= episode.published_at.strftime('%b %d, %Y') %></span>
      <% unless episode.published? %>
        <span class="unreleased">NOT YET RELEASED</span>
      <% end %>
    </div>
    <h2><%= link_to episode.name, episode %></h2>
    <div class="description"><%= episode.description %></div>
    <div class="watch">
      <%= link_to "Watch Episode", episode_path(episode, :autoplay => true), :class => "watch_button" %>
      <span class="stats">(<%= pluralize (episode.seconds/60).round, "minute" %>, <%= link_to pluralize(episode.comments.size, "comment"), episode_path(episode, :view => "comments") %>)</span>
    </div>
  </div>
  <div class="clear"></div>
</div>
