<div class="content">
  <%= form_for @episode do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :tag_names, "Tags" %>
      <%= f.text_field :tag_names %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 6 %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <%= f.text_area :notes, :rows => 10 %>
    </div>
    <div class="field">
      <%= f.label :published_at, "Publish Date" %>
      <%= f.date_select :published_at %>
    </div>
    <div class="field">
      <%= f.label :duration %>
      <%= f.text_field :duration %>
    </div>
    <div class="field">
      <%= f.label :asciicasts, "Available on ASCIIcasts" %>
      <%= f.check_box :asciicasts %>
    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>
