<div class="content">
  <p><strong>Please follow the <%= link_to "moderator guidelines", moderators_path %>.</strong></p>
  <%= form_for @episode do |f| %>
    <%= f.error_messages %>
    <%= field f, :position %>
    <%= field f, :name %>
    <%= field f, :tag_names, :label => "Tags" %>
    <%= field f, :description, :type => :text_area, :rows => 6 %>
    <%= field f, :notes, :type => :text_area, :rows => 20, :cols => 80 %>
    <%= field f, :published_at, :type => :date_select, :label => "Publish Date" %>
    <%= field f, :duration %>
    <%= field f, :asciicasts, :type => :check_box, :label => "Available on ASCIIcasts" %>
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>
