<% title "Free Ruby on Rails Screencasts", false %>

<div class="episodes">
  <%= render :partial => @episodes %>
</div>

<p class="content">
  <%= link_to h('< Newer Episodes'), :overwrite_params => { :page => @episodes.previous_page } if @episodes.previous_page %>
  <%= "|" if @episodes.previous_page && @episodes.next_page %>
  <%= link_to h('Older Episodes >'), :overwrite_params => { :page => @episodes.next_page } if @episodes.next_page %>
</p>

<% if admin? %>
<h1 class="content">Future Episodes</h1>
<div class="episodes">
  <%= render :partial => Episode.unpublished %>
</div>

<div class="content">
  <div class="actions">
    <p><%= link_to 'New Episode', new_episode_path %></p>
  </div>
</div>
<% end %>
