<% title "\##{@episode.position} #{@episode.name}", false %>

<div id="episode" class="<%= "legacy" if @episode.legacy? %>">
  <div class="video_wrapper">
    <div id="video_poster">
      <div class="banner">
        <div class="inner">
          <div class="inner_text">Click to Play Video</div>
        </div>
      </div>
      <div class="sublimevideo">
        Player provided by<br />
        <%= image_tag "sublimevideo.png", :size => "178x24", :alt => "SublimeVideo" %>
      </div>
    </div>
  </div>
  <script type="text/html" id="video_template">
    <%= video_tag @episode.asset_url("videos"),
          :poster => "/assets/episodes/posters/loading#{800 if @episode.legacy?}.png",
          :width => (@episode.legacy? ? 800 : 960),
          :height => 600 %>
  </script>
  <div class="info">
    <h1>
      <span class="position">#<%= @episode.position %></span>
      <%= @episode.name %>
    </h1>
    <div class="details">
      <%= @episode.published_at.strftime('%b %d, %Y') %> |
      <%= pluralize (@episode.seconds/60).round, "minute" %> |
      <%= raw @episode.tags.map { |tag| link_to tag.display_name, root_path(:tag_id => tag) }.join(", ") %>
    </div>
    <div class="social">
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= episode_url(@episode) %>" data-count="horizontal" data-via="railscasts">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <ul class="downloads horizontal">
      <li>Download:</li>
      <% for file in @episode.available_files %>
        <li>
          <%= link_to file[:name], file[:url] %>
          <span class="overlay"><%= file[:info] %> (<%= number_to_human_size(file[:size]) %>)</span>
        </li>
      <% end %>
    </ul>
  </div>
  <ul class="nav horizontal">
    <li class="selected"><%= tab_link "Show Notes", :view => nil %></li>
    <li><%= tab_link pluralize(@episode.comments.size, "Comment"), :view => "comments" %></li>
    <li><%= tab_link "Similar Episodes", :view => "similar" %></li>
    <%= content_tag :li, link_to("Next Episode >", @episode.lower_item), :class => "next" unless @episode.last_published? || @episode.last? %>
    <%= content_tag :li, link_to("< Previous Episode", @episode.higher_item), :class => "previous" unless @episode.first? %>
  </ul>
  <div class="nav_section">
    <%= %w[comments similar].include?(params[:view]) ? render(params[:view]) : render("show_notes") %>
  </div>
</div>
