<% title @episode.name, false %>

<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="Episode Comments RSS" href="<%= episode_url(@episode, :format => 'rss') %>" />
<% end %>

<div class="episodes">
  <%= render :layout => @episode do %>
    <div class="notes">
      <%= textilize @episode.notes %>
    </div>
    <div id="episode_nav">
    <% unless @episode.first? %>
      <div id="previous_episode"><%= link_to '< Previous Episode', @episode.higher_item %></div>
    <% end %>
    <% unless @episode.last_published? || @episode.last? %>
      <div id="next_episode"><%= link_to 'Next Episode >', @episode.lower_item %></div>
    <% end %>
    </div>
    <div class="clear"></div>
  <% end %>
</div>

<% unless @episode.comments.empty? %>
  <h3 class="content" id="comment_count">
    <%= link_to image_tag('icons/feed.gif', :alt => "RSS Feed for Episode Comments", :size => '16x16'), episode_path(@episode, :format => 'rss') %>
    <%= pluralize @episode.comments.size, 'comment' %>
  </h3>
  <div id="comments" class="content">
    <%= render @episode.comments %>
  </div>
<% end %>

<div class="content add_comment">
  <% if current_user %>
    <h3>Add your comment:</h3>
    <p class="comment_profile">
      Signed in as <strong><%= link_to current_user.name, current_user %></strong>.
    </p>
    <%= render :partial => 'comments/form' %>
  <% else %>
    <p>You must <%= link_to "sign in through GitHub", login_path(:return_to => request.url) %> to post a comment.</p>
  <% end %>
</div>
