<% title "Spam Report" %>

<div class="content">
  <p><%= link_to "Back to all Spam Reports", spam_reports_path %></p>
  
  <% unless @spam_report.comment_ip.blank? %>
  <p>
    <strong>IP Address:</strong>
    <%=h @spam_report.comment_ip %>
  </p>
  <% end %>
  <% unless @spam_report.comment_site_url.blank? %>
  <p>
    <strong>Site URL:</strong>
    <%=h @spam_report.comment_site_url %>
  </p>
  <% end %>
  <% unless @spam_report.comment_name.blank? %>
  <p>
    <strong>Author Name:</strong>
    <%=h @spam_report.comment_name %>
  </p>
  <% end %>
  <p>
    <strong>Number of Hits:</strong>
    <%=h @spam_report.hit_count %>
  </p>
  
  <p>Look through the comments below and confirm this spam report by choosing confirm at the bottom. Otherwise you can <%= link_to 'destroy it', @spam_report, :confirm => 'Are you sure?', :method => :delete %>.</p>
  
  <div id="comments">
    <%= render @spam_report.matching_comments %>
  </div>
  
  <h3><%= link_to "Confirm Report and Remove Comments", confirm_spam_report_path(@spam_report), :method => :post, :confirm => "Are you sure you want to remove all comments listed here and reject future ones that match this spam report?" %></h3>
</div>
