<% title "Feedback", false %>

<div class="content">
  <div id="feedback">
    <h2 class="bar">Feedback</h2>
    <%= form_for @feedback_message do |f| %>
      <%= f.error_messages %>
      <div class="info">
        <p>You can also contact <a href="http://twitter.com/railscasts">@railscasts</a> on Twitter, or send an email to <script type="text/javascript">document.write(
      "<n uers=\"znvygb:srrqonpx\100envyfpnfgf\056pbz\">srrqonpx\100envyfpnfgf\056pbz<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
      </script>.</p>
      </div>
      <div class="special_email_field">
        <%= label_tag :email %>
        <%= text_field_tag :email, "", :autocomplete => "off" %>
        (do not fill)
      </div>
      <div class="field">
        <%= f.label :name, "Your Name" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email, "Your Email Address" %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :content, "Message" %>
        <%= f.text_area :content, :rows => 14, :cols => 50 %>
      </div>
      <div class="actions"><%= f.submit "Send Feedback" %></div>
    <% end %>
  </div>
  <div id="feedback_instructions">
    <p><strong>Please send feedback about:</strong></p>
    <ul>
      <li>Problems with existing episodes</li>
      <li>Ideas for future episodes</li>
      <li>Anything about this site</li>
    </ul>
    <p>Unfortunately I am unable to answer generic Rails questions which are not specific to RailsCasts. For this I recommend asking on one of the following forums.</p>
    <ul>
      <li><a href="http://groups.google.com/group/rubyonrails-talk?pli=1">Rails Talk Mailing List</a></li>
      <li><a href="http://stackoverflow.com/">Stack Overflow</a></li>
      <li><a href="http://railsforum.com/">Rails Forum</a></li>
    </ul>
  </div>
</div>
