<% title "About RailsCasts", false %>

<div class="content" id="about">
  <div class="ryan">
    <%= image_tag "ryan_bates.jpg", :size => "192x227" %>
    <a href="http://twitter.com/rbates">Ryan Bates</a>
  </div>
  <h1>About RailsCasts</h1>
  <p>RailsCasts is produced by Ryan Bates (<%= link_to "rbates", "http://twitter.com/rbates" %> on Twitter and <%= link_to "ryanb", "https://github.com/ryanb" %> on GitHub). A new episode will be released each Monday featuring tips and tricks with <a href="http://www.rubyonrails.com/">Ruby on Rails</a>. The screencasts are short and focus on one technique so you can quickly move on to applying it to your own project. The topics target the intermediate Rails developer, but beginners and experts will get something out of it as well.</p>

  <h2>ASCIIcasts</h2>
  <p>If you prefer text over video, please visit <%= link_to "ASCIIcasts", "http://asciicasts.com/" %> where Eifion Bedford has done a wonderful job of translating the majority of the episodes into textual form.</p>

  <h2>TextMate Theme</h2>
  <p>Do you like the TextMate theme used in these screencasts? It is custom made and based off of the theme by <a href="http://fluidsyntax.com/blog/articles/idlefingers-textmate-theme">idlefingers</a>. I am using the <a href="http://www.gnome.org/fonts/">Bitstream Vera Sans Mono</a> font.</p>
  <p><a href="http://media.railscasts.com/resources/textmate_theme.zip">Download Textmate Theme</a></p>

  <h2>Contact</h2>
  <p>If you have any comments, suggestions, questions, etc. I'd love to hear them! Please use the <%= link_to "Feedback Page", feedback_path %> or send an email to <script type="text/javascript">document.write(
"<n uers=\"znvygb:srrqonpx\100envyfpnfgf\056pbz\">srrqonpx\100envyfpnfgf\056pbz<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>.</p>

  <h2>Moderators</h2>
  <p>Thank you to all moderators who help keep the site clean and up to date:</p>
  <ul>
    <% for user in User.where(:moderator => true).order(:name) %>
      <li><%= link_to user.name, user %></li>
    <% end %>
  </ul>
  <p>If you are interested in becoming a moderator, see the <%= link_to "moderator guidelines", moderators_path %>.</p>

  <h2>Special Thanks</h2>
  <p>Special thanks to <%= link_to "Linode", "http://www.linode.com/?utm_source=railscasts.com&utm_medium=Badge&utm_campaign=Railscasts" %> for providing hosting for this site and <%= link_to "SublimeVideo", "http://sublimevideo.net/" %> for providing the episode player.</p>

  <h2>This Site</h2>
  <p>This site is available in <%= link_to "open source", "https://github.com/ryanb/railscasts" %>. It is intended to be used as an example Rails app, so feel free to copy bits of it for your own project. If you would like to use it as a starting point for your own site please contact me.</p>

  <h2>Software Used</h2>
  <ul>
    <li><a href="http://macromates.com/">TextMate</a> - the best text editor</li>
    <li><a href="http://stephendeken.net/software/keycastr/">KeyCastr</a> - visual keyboard shortcuts</li>
    <li><a href="http://shinywhitebox.com/home/home.html">iShowU</a> - records the screen</li>
    <li><a href="http://www.apple.com/finalcutpro/">Final Cut Pro</a> - for putting it all together</li>
    <li><a href="http://www.apple.com/motion/">Motion</a> - the intro animation</li>
  </ul>

  <h2>License</h2>
  <p>All RailsCasts episodes are under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons license</a>. You are free to distribute unedited versions of the episodes for non-commercial purposes. You are also free to translate them into any language. If you would like to edit the video please contact me.</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
