<% title "100th Episode Contest Results" %>

<% content_for :side do %>
  <%= render :partial => 'shared/navigation' %>
  <div class="section">
    <strong>special thanks to:</strong>
    <div class="sponsor"><a href="http://www.codespaces.com"><img src="/assets/contest_sponsors/codespaces.png" width="150" height="54" alt="Code Spaces, Subversion Hosting" /></a></div>
    <div class="sponsor"><a href="http://pragprog.com"><img src="/assets/contest_sponsors/pragmatic.png" width="149" height="58" alt="Pragmatic Bookshelf" /></a></div>
    <div class="sponsor"><a href="http://peepcode.com"><img src="/assets/contest_sponsors/peepcode.png" width="150" height="62" alt="PeepCode screencasts" /></a></div>
    <div class="sponsor"><a href="http://shinetech.com"><img src="/assets/contest_sponsors/shine_technologies.gif" width="150" height="40" alt="Shine Technologies" /></a></div>
    <div class="sponsor"><a href="http://risingsunbilling.com"><img src="/assets/contest_sponsors/rising_sun.gif" width="150" height="56" alt="Rising Sun" /></a></div>
    <div class="sponsor"><a href="http://getharvest.com"><img src="/assets/contest_sponsors/harvest.gif" width="150" height="46" alt="Harvest" /></a></div>
    <div class="sponsor"><a href="http://rubyplus.org"><img src="/assets/contest_sponsors/ruby_plus.gif" width="150" height="33" alt="Ruby Plus" /></a></div>
    <div class="sponsor"><a href="http://16bugs.com"><img src="/assets/contest_sponsors/16bugs.gif" width="150" height="34" alt="16bugs" /></a></div>
  </div>
<% end %>


<div class="content" id="contest">
  <p><strong>The results are in!</strong> I want to thank everyone for submitting to this contest, along with the sponsors for donating the <a href="/contest#prizes">prizes</a>. Congratulations to the winners!</p>
  <ul class="submissions">
    <li>
      <strong>Grand Prize Winner</strong><br />
      <%= auto_link "http://lindsaar.net/ruby-on-rails-tips/" %>
    </li>
    <li>
      <strong>1st Place</strong><br />
      <%= auto_link "http://www.thechrisoshow.com/2008/4/13/five-rails-tips" %>
    </li>
    <li>
      <strong>2nd Place</strong><br />
      <%= auto_link "http://workswithruby.com/2008/4/5-rails-tips" %>
    </li>
    <li>
      <strong>3rd Place</strong><br />
      <%= auto_link "http://domainspecific.blogspot.com/2008/05/5-rails-tips.html" %>
    </li>
    <li>
      <strong>4th Place</strong><br />
      <%= auto_link "http://zilkey.com/2008/5/5/rails-view-tips" %>
    </li>
    <li>
      <strong>5th Place</strong><br />
      <%= auto_link "http://zargony.com/2008/04/28/five-tips-for-developing-rails-applications" %>
    </li>
    <li>
      <strong>6th Place</strong><br />
      <%= auto_link "http://railsforum.com/viewtopic.php?pid=60456" %>
    </li>
    <li>
      <strong>7th Place</strong><br />
      <%= auto_link "http://blog.grayproductions.net/articles/five_activerecord_tips" %>
    </li>
    <li>
      <strong>8th Place</strong><br />
      <%= auto_link "http://www.stephenchu.com/2008/03/boost-your-controller-paramsfu.html" %>
    </li>
    <li>
      <strong>9th Place</strong><br />
      <%= auto_link "http://scoop.cheerfactory.co.uk/2008/04/25/5-rails-tips/" %>
    </li>
  </ul>
  <p>It was no easy task choosing these winners. There were <strong>so many</strong> excellent submissions. I wish I had enough prizes for everyone - you all deserve it. Here are all other submissions. Please check them out as they are well worth reading!</p>
  <ul class="submissions">
    <li><%= auto_link "http://rpheath.com/posts/323-railscasts-contest-5-rails-tips" %></li>
    <li><%= auto_link "http://paulbarry.com/articles/2008/04/19/5-rails-tips" %></li>
    <li><%= auto_link "http://www.thechrisoshow.com/2008/5/4/five-tips-for-testing-rails" %></li>
    <li><%= auto_link "http://www.lableure.be/main/home/article-59.htm" %></li>
    <li><%= auto_link "http://www.dbnetworx.de/2008/04/22/5-rails-tips-plus-links/" %></li>
    <li><%= auto_link "http://informationrain.com/2008/05/04/spice-up-your-rails-app-with-regular-expressions/" %></li>
    <li><%= auto_link "http://railstips.heroku.com/" %></li>
    <li><%= auto_link "http://upstaterb.org/2008/4/24/5-tips-for-activeresource" %></li>
    <li><%= auto_link "http://boga.wordpress.com/2008/04/15/ruby-19-porting-notes/" %></li>
    <li><%= auto_link "http://www.makemesimple.com/blog/2008/05/05/high-five-five-tips-on-testing-with-rails/" %></li>
    <li><%= auto_link "http://railsonedge.blogspot.com/" %></li>
    <li><%= auto_link "http://dambalah.com/2008/05/06/five-rails-tips/" %></li>
    <li><%= auto_link "http://jrmehle.com/2008/04/07/5-rails-tips/" %></li>
    <li><%= auto_link "http://thetacom.info/2008/02/17/my-10-favorite-rails-plugins/" %></li>
    <li><%= auto_link "http://bjhess.com/bjhessblog/2008/04/27/five-rails-tips/" %></li>
    <li><%= auto_link "http://blog.kylebanker.com/2008/04/5-core-extension-tips/" %></li>
    <li><%= auto_link "http://railsforum.com/viewtopic.php?pid=61190" %></li>
    <li><%= auto_link "http://gwynmorfey.com/categories/1/articles/130-five-scottish-beauties" %></li>
    <li><%= auto_link "http://railsforum.com/viewtopic.php?pid=60447" %></li>
    <li><%= auto_link "http://lambdasquire.blogspot.com/2008/04/5-rails-tips.html" %></li>
    <li><%= auto_link "http://brycemcd.blogspot.com/2008/05/five-useful-rails-tips.html" %></li>
    <li><%= auto_link "http://lukewendling.dtdns.net/articles/2008/04/14/railscasts-contest-for-may-5/" %></li>
    <li><%= auto_link "http://blog.ninjahideout.com/posts/5-misc-rails-tips" %></li>
    <li><%= auto_link "http://drand48.blogspot.com/2008/05/5-rails-tips.html" %></li>
    <li><%= auto_link "http://railsforum.com/viewtopic.php?id=18032" %></li>
    <li><%= auto_link "http://www.sandelman.ca/mcr/blog/2008/04/30/" %></li>
    <li><%= auto_link "http://www.ajaxrussia.com/archives/ruby-on-rails-tips-and-tricks#english" %></li>
    <li><%= auto_link "http://railsforum.com/viewtopic.php?pid=60081#p60081" %></li>
    <li><%= auto_link "http://thetacom.info/2008/03/24/essentials-for-a-web-developers-toolbox/" %></li>
    <li><%= auto_link "http://dominicson.com/?p=9" %></li>
    <li><%= auto_link "http://twitter.com/sandofsky/statuses/784639061" %></li>
    <li><%= auto_link "http://daveamos.tumblr.com/post/31389022" %></li>
    <li><%= auto_link "http://blog.ramsesoriginal.org/2008/05/04/5-tips-for-ruby-on-rails/" %></li>
    <li><%= auto_link "http://www.bangmyhead.com:12032/2008/5/3/getting-started" %></li>
    <li><%= auto_link "http://sanityuntethered.blogspot.com/2008/04/51-tips-for-n00bs-on-rails.html" %></li>
    <li>
      5 Tips at www.matthewtodd.org
      <ol>
        <li><%= auto_link "http://www.matthewtodd.org/2008/04/21/rails-tip-1-reloadable-custom-formbuilder/" %></li>
        <li><%= auto_link "http://www.matthewtodd.org/2008/04/22/rails-tip-2-faking-data-in-tests/" %></li>
        <li><%= auto_link "http://www.matthewtodd.org/2008/04/23/rails-tip-3-filter-blobs-from-activerecord-logging/" %></li>
        <li><%= auto_link "http://www.matthewtodd.org/2008/04/24/rails-tip-4-writing-capistrano-recipes-to-be-loaded-from-gems/" %></li>
        <li><%= auto_link "http://www.matthewtodd.org/2008/04/25/rails-tip-5-atom-param-parser/" %></li>
      </ol>
    </li>
    <li>
      5 Tips at www.unboundimagination.com
      <ol>
        <li><%= auto_link "http://www.unboundimagination.com/Rails-Plugin:-TextMate-Syntax-Highlighting" %></li>
        <li><%= auto_link "http://www.unboundimagination.com/Rails-Plugin:-Javascript-Dependency-Manager" %></li>
        <li><%= auto_link "http://www.unboundimagination.com/Rails-Plugin:-Simple-Nav" %></li>
        <li><%= auto_link "http://www.unboundimagination.com/Current-Git-Branch-in-Bash-Prompt" %></li>
        <li><%= auto_link "http://www.unboundimagination.com/Hiding-e-mails-from-bots-but-not-users" %></li>
      </ol>
    </li>
    <li>
      5 Tips at railsforum.com
      <ol>
        <li><%= auto_link "http://railsforum.com/viewtopic.php?id=17284" %></li>
        <li><%= auto_link "http://railsforum.com/viewtopic.php?id=17512" %></li>
        <li><%= auto_link "http://railsforum.com/viewtopic.php?id=17671" %></li>
        <li><%= auto_link "http://railsforum.com/viewtopic.php?pid=60446#p60446" %></li>
        <li><%= auto_link "http://railsforum.com/viewtopic.php?id=17861" %></li>
      </ol>
    </li>
  </ul>
  
  <table class="prizes" border="0" name="prizes" id="prizes">
    <tr class="placing">
      <td><h4>Grand Prize</h4></td>
      <td class="donor"><h4>thanks to</h4></td>
    </tr>
    <tr>
      <td class="prize">8 GB iPod Touch</td>
      <td class="donor"><a href="http://www.codespaces.com">Code Spaces</a></td>
    </tr>
    <tr>
      <td class="prize">Code Spaces Enterprise Plan for 1 Year</td>
      <td class="donor"><a href="http://www.codespaces.com">Code Spaces</a></td>
    </tr>
    <tr>
      <td class="prize">Harvest Basic Plan for 1 Year</td>
      <td class="donor"><a href="http://getharvest.com">Harvest</a></td>
    </tr>
    <tr>
      <td class="prize">$50 to the Pragmatic Bookshelf</td>
      <td class="donor"><a href="http://pragprog.com/">Pragmatic Programmers</a></td>
    </tr>
    <tr>
      <td class="prize">$50 Amazon gift card</td>
      <td class="donor"><a href="http://www.shinetech.com/">Shine Technologies</a></td>
    </tr>
    <tr>
      <td class="prize">$50 iTunes gift card</td>
      <td class="donor"><a href="http://www.workingwithrails.com/person/8170-trevor-turk">Trevor Turk</a></td>
    </tr>
    
    <tr class="placing">
      <td><h4>1st Place</h4></td>
      <td class="donor"><h4>thanks to</h4></td>
    </tr>
    <tr>
      <td class="prize">PeepCode Unlimited</td>
      <td class="donor"><a href="http://peepcode.com">PeepCode</a></td>
    </tr>
    <tr>
      <td class="prize">Code Spaces Enterprise Plan for 1 Year</td>
      <td class="donor"><a href="http://www.codespaces.com">Code Spaces</a></td>
    </tr>
    <tr>
      <td class="prize">$50 to the Pragmatic Bookshelf</td>
      <td class="donor"><a href="http://pragprog.com/">Pragmatic Programmers</a></td>
    </tr>
    <tr>
      <td class="prize">$50 Amazon gift card</td>
      <td class="donor"><a href="http://www.shinetech.com/">Shine Technologies</a></td>
    </tr>
    <tr>
      <td class="prize">16bugs Big Plan for 1 Year</td>
      <td class="donor"><a href="http://16bugs.com/">16bugs</a></td>
    </tr>
    
    <tr class="placing">
      <td><h4>2nd-4th Place</h4></td>
      <td class="donor"><h4>thanks to</h4></td>
    </tr>
    <tr>
      <td class="prize">Printed PeepCode Minibook</td>
      <td class="donor"><a href="http://peepcode.com">PeepCode</a></td>
    </tr>
    <tr>
      <td class="prize">Code Spaces Enterprise Plan for 1 Year</td>
      <td class="donor"><a href="http://www.codespaces.com">Code Spaces</a></td>
    </tr>
    <tr>
      <td class="prize">$50 to the Pragmatic Bookshelf</td>
      <td class="donor"><a href="http://pragprog.com/">Pragmatic Programmers</a></td>
    </tr>
    <tr>
      <td class="prize">$50 Amazon gift card</td>
      <td class="donor"><a href="http://www.shinetech.com/">Shine Technologies</a></td>
    </tr>
    <tr>
      <td class="prize">16bugs Basic Plan for 1 Year</td>
      <td class="donor"><a href="http://16bugs.com/">16bugs</a></td>
    </tr>
    
    <tr class="placing">
      <td><h4>5th-9th Place</h4></td>
      <td class="donor"><h4>thanks to</h4></td>
    </tr>
    <tr>
      <td class="prize">$50 to the Pragmatic Bookshelf</td>
      <td class="donor"><a href="http://pragprog.com/">Pragmatic Programmers</a></td>
    </tr>
    <tr>
      <td class="prize">$25 Amazon gift card</td>
      <td class="donor">
        <a href="http://risingsunbilling.com/">Rising Sun</a> &amp; <a href="http://rubyplus.org/">rubyplus.org</a>
      </td>
    </tr>
  </table>
  <p>I will be contacting the winners and sponsors over email about how to proceed with the prizes. Again, thank you everyone for making this contest a success. I had a lot of fun reading everyone's tips!</p>
</div>
