<% title "Moderator Guidelines" %>

<div class="content" id="moderators">
  <p><strong>Thank you to all who are interested in becoming moderators. I currently have enough moderators but may need more in the future.</strong> You can still request to become a moderator, and I will consider it when a position is available.</p>

  <p>Moderators primarily help deal with the spam issues, but also help fix show notes and review unreleased episodes. If you are interested in becoming a moderator, <%= link_to "let me know", feedback_path %> and provide reasons as to why you should become one along with your GitHub username.</p>

  <h2>Editing User Comments</h2>
  <p>Moderators are able to edit user comments. This is intended to fix incorrect formatting. Do not alter what the user is saying. If you must add a note, ensure that it is clearly marked as edited by you.</p>

  <h2>Deleting User Comments</h2>
  <p>Comments can be removed if they provide no value to the conversation, are offensive, or are spam. <strong>Do not delete comments which have replies</strong>, instead edit them to remove the content and include a note saying it has been removed by a moderator. If a comment is a simple "thank you" and is over a month old, feel free to delete it.</p>

  <h2>Banning Users</h2>
  <p>Users can be banned. When this happens all of their comments will be deleted and they will be unable to add further comments. Users who are spamming the site should be banned. Banning users is not available on older comments because a user account system was not available then. You will need to delete those individually.</p>
  <p>If you are ever uncertain whether it is spam or not, click on their profile and read their other comments. If you are still unsure, leave it alone. We do not want to ban legitimate users.</p>
  <p>Both banning users and deleting comments have a confirmation dialog, so don't worry too much about accidentally hitting the button. If you do accidentally delete a comment or ban a user, let me know immediately and provide as much detail as you can.</p>
  <p>If at any time I find a moderator not following these guidelines I will remove the privilege and revert all actions he has done. A paper trail of all changes are kept.</p>

  <h2>Reviewing Unreleased Episodes</h2>
  <p>On the rare occasion I finish recording an episode early, it will show up on the front page for moderators before it is released. Feel free to watch this and provide feedback if you find problems. Please send feedback through email or the <%= link_to "feedback page", feedback_path %>, not the comments section until the episode is released.</p>

  <h2>Editing Episode Show Notes</h2>
  <p>Moderators can edit episode show notes. Feel free to add notes based on what users mention in the comments. Also please include links to related episodes, mention problems with specific Rails versions, fix minor problems with the source code, etc. If you are doing significant changes to the show notes, please ask me first.</p>

  <h2>Special Thanks</h2>
  <p>Thank you to all who are interested in becoming moderators. I am very grateful to all who can help clean up the site and make it better. Your name will appear in a moderators list in the <%= link_to "About page", about_path %> for credit. If you are interested in becoming a moderator, <%= link_to "let me know", feedback_path %> and provide reasons as to why you should become one along with your GitHub username.</p>
  <p>If you have ideas on how I can improve the moderator experience, please add an issue to the <%= link_to "GitHub project", "https://github.com/ryanb/railscasts" %>.</p>
</div>
