<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Railscasts - <%= content_for?(:title) ? yield(:title) : "Free Ruby on Rails Screencasts" %></title>
  	<meta name="description" content="Short Ruby on Rails screencasts containing tips, tricks and tutorials. Great for both novice and experienced programmers." />
    <meta name="keywords" content="rails, ruby on rails, screencasts, railscast, railscasts, tips, tricks, tutorials, training, podcasts, programming" />
    <link rel="alternate" type="application/rss+xml" title="Episodes RSS" href="http://feeds.feedburner.com/railscasts" />
    <%= stylesheet_link_tag 'application', 'coderay' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="logo"><%= link_to_unless_current image_tag('logo.png', :size => '452x88', :alt => 'Railscasts'), root_path %></div>
      <div id="main">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end -%>

        <% if show_title? %>
          <h1 class="content"><%= yield(:title) %></h1>
        <% end %>

        <%= yield %>
      </div>
      <div id="side">
        <%= content_for?(:side) ? yield(:side) : render(:partial => 'shared/side') %>
      </div>
      <div class="clear"></div>
      <div id="footer">
        &copy;2010 Railscasts - Hosted by <%= link_to "Linode", "http://www.linode.com/?utm_source=railscast.com&utm_medium=Badge&utm_campaign=Railscast" %>
      </div>
    </div>

    <% unless current_page? give_back_path %>
      <%= link_to image_tag("give_back_banner.png", :size => "143x151", :alt => "Give Back to Open Source"), give_back_path, :id => "corner_banner" %>
    <% end %>

    <!-- UserVoice Tab -->
    <script src="http://railscasts.uservoice.com/pages/general/widgets/tab.js?alignment=left&amp;color=1B97F2" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7696481-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
